.breakout {

  padding: 1rem;
  margin-bottom: 2rem;
  font-size: .875rem;
  border: 1px solid $yellow;
  background: rgba($yellow, 0.05);

  & h3 {
    margin-bottom: 2rem;
    font-family: $font-medium;
    font-size: inherit;
    color: $teal;
  }

  & h6 {
    line-height: 1.65;
    font-family: "gotham-medium";
  }

  & p {
    font-size: inherit;


    // TODO break into utility class
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;





  hyphens: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

}
