.breakout {

  padding: 1rem;
  margin-bottom: 2rem;
  font-size: .875rem;
  border: 1px solid $yellow;
  background: rgba($yellow, 0.05);

  & h3 {
    margin-bottom: 2rem;
    font-family: $font-medium;
    font-size: inherit;
    color: $teal;
  }

  & p {
    font-size: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }

}
