.btn {

  display: inline-block;
  margin-bottom: 0;
  font-family: $font-book;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  background-image: none;
  background-color: transparent;
  white-space: nowrap;
  transition-property: border, color, background;
  transition-duration: $transitionduration;

  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  
  &:hover, &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  /*
   * Button variations
   */

  &--default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
  }

  &--primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  }

  &--reverse {
    @include button-variant($btn-reverse-color, $btn-primary-bg, $btn-reverse-border);
  }

  /*
   * Button colors
   */
  &--red {
    @include button-variant($red, $btn-primary-bg, $red);
  }

  &--blue {
    @include button-variant($blue, $btn-primary-bg, $blue);
  }

  &--purple {
    @include button-variant($purple, $btn-primary-bg, $purple);
  }

  /*
   * Button sizes
   */

  &--xs {
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  }

  &--sm {
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-small, $line-height-base, $btn-border-radius-base);
  }

  &--lg {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-large, $line-height-small, $btn-border-radius-small);
  }

  /*
   * Button utilities
   */
  &--wide {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  

}
