$card-break: $large-start;

.card {
  position: relative;
  margin-bottom: 6em;
  padding-top: 6.25em;
  text-align: center;
  border: 1px solid $yellow;
  border-radius: $border-radius-base;

  @include breakpoint($screen $card-break) {
    flex-basis: 30%;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 3.67em;

    /*@include breakpoint($screen $contentwidth + 1em) {*/
    @include breakpoint($screen $card-break) {
      flex-direction: row;
    }
  }

  &__imagecontainer {
    position: absolute;
    left: 0;
    right: 0;
    top: -3.9em;
  }

  &__image {
    clip-path: ellipse(50% 50% at 50% 50%);
  }

}

