.chart {

  margin-bottom: 1rem;
  /*border-top: 1px solid $lightgray;*/
  /*border-bottom: 1px solid $lightgray;*/

  &:first-child {
    margin-bottom: 3rem;
  }

  &__title {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.25;
    
  }

  &__subhead {
    @extend p;
    font-weight: 600;
  }

  &__source {
    padding-left: .5rem;
    font-size: .875em;
    color: $font-color-lighter;
  }


}
