%footer-block-base {
  display: flex;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: $white;
  background: $teal;

  &__block {
    @extend %footer-block-base;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    @include breakpoint($screen $navflip) {
      
    }

    &--row {
      @extend %footer-block-base;
      flex-direction: column;
      align-items: center;

      @include breakpoint($screen $medium-minor-start) {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }


  &__links {

    border-top: 1px solid rgba($white, .2);
    padding-top: 1rem;

    & li {
      margin-bottom: 1rem;
      text-align: center;
      color: $white;

      @include breakpoint($screen $medium-minor-start) {
        flex-basis: 200px;
      }
    }

    & a {
      color: inherit;
    }

  }


}
