$highlightablebreak: $large-start;
%highlightable-base {
  border-top: 7px solid $yellow;
  margin-top: 4.5rem;
  padding-top: 0;

  @include breakpoint($screen $highlightablebreak) {
    padding-top: 1rem;
    margin-top: 8rem;
    margin-bottom: 6rem;
    height: 250px;
  }
}

.highlightable {
  @extend %highlightable-base;

  padding-bottom: 1rem;
  /*text-align: center;*/
  background: $teal;
  border-bottom: 7px solid $yellow;
  color: $yellow;

  &--pinned {
    @extend %highlightable-base;
    margin-bottom: 0;
    /*box-sizing: content-box;*/
    background: rgba($yellow, .05);
    color: $teal;
  }


  &__block {
    position: relative;
    top: -2rem;

    @include breakpoint($screen $highlightablebreak) {
      top: 0;
    }
  }

  &__kicker {
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.4;
    color: rgba($white, .9);

    .highlightable--pinned & {
      color: rgba($teal, .7);
    }
  }

  &__header {
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.6;
    color: inherit;

    @include breakpoint($screen $large-minor-start) {
      margin-bottom: 1rem;
      font-size: 1.75em;
      font-family: $font-light;
      line-height: 1.35;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    @include breakpoint($screen $highlightablebreak) {
      position: relative;
      flex-direction: row;
      height: 210px;

      .highlightable--pinned & {
        /*top: 20px;*/
        /*top: -10px;*/
      }
    }
  }

  &__text {
    text-align: center;
    color: inherit;

    @include breakpoint($screen $highlightablebreak) {
      margin-left: 3rem;
      align-self: center;
      flex-basis: 71%;

      .highlightable--flipped & {
        order: -1;
        margin-left: 0;
        margin-right: 3rem;
      }
    }

    & button {
      position: absolute;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: -1.2rem;

      @include breakpoint($screen $highlightablebreak) {
        position: static;
        width: auto;
        margin: initial;
      }
    }

  }

  &__imagecontainer {
    /*flex-basis: 100%;*/
    /*position: relative;*/
    /*bottom: -3em;*/
    /*max-width: 435px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    @include breakpoint($screen $highlightablebreak) {
      /*top: -3em;*/
      /*bottom: auto;*/
      /*max-width: none;*/
      position: relative;
      bottom: 80px;
      margin-bottom: initial;
      /*margin-right: 4rem;*/
      min-width: 250px;
    
    }
  }

  &__image {
    /*box-shadow: 5px 5px 13px rgba($verydark,.3);*/
    @include breakpoint($screen $highlightablebreak) {
      width: 250px;
      height: 300px;
    }
  }

}
