.icon-aoa-vert {

  .branding & {

    @include breakpoint($screen $navflip) {
      width: 120px;
      padding: 1rem;
      float: right;
      /*background: rgba(121, 121, 121, 0.46);*/
      /*background: rgba(49, 49, 49, 0.46);*/
      border-right: 1px solid rgba($white, .5);
      border-left: 1px solid rgba($white, .5);
      border-bottom: 1px solid rgba($white, .5);
    }
  }
}

.icon-aoa {

  .branding & {

    @include breakpoint($screen $navflip) {
      width: 180px;
      height: 50.5px;
      float: right;
    }
  }

  .footer & {
    width: 280px; 
    height: 80px;
    margin: 0 auto;
    fill: $white;
  }
}


.icon-registration {

  .menu-minor & {
    width: 35px !important;
  }
}

.icon-program, .icon-program-teal {

  .menu-minor & {
    @include breakpoint($screen $navflip) {
      width: 21px !important;
    }
  }

  &.quicklinks__icon {
    margin-bottom: 15px;
    height: 75px;
  }

}
