.icon-omed-logo-alone {

  .header & {
    fill: $white;
  }

}

.icon-aoa {

  .branding & {

    @include breakpoint($screen $navflip) {
      width: 180px;
      float: right;
    }

  }

  .footer & {
    width: 280px; 
    margin: 0 auto;
    fill: $white;
  }

}


.icon-registration {

  .menu-minor & {
    width: 35px !important;
  }

}
