.icon-omed-logo-alone {

  .header & {
    fill: $white;
  }

}

.icon-aoa-vert {

  .branding & {

    @include breakpoint($screen $navflip) {
      width: 120px;
      padding: 1rem;
      float: right;
      /*background: rgba(121, 121, 121, 0.46);*/
      background: rgba(49, 49, 49, 0.46);
    }

  }
}

.icon-aoa {


  .footer & {
    width: 280px; 
    margin: 0 auto;
    fill: $white;
  }

}


.icon-registration {

  .menu-minor & {
    width: 35px !important;
  }

}
