$intro-logo-max-width: 15.375em;
$introinflection: $large-start;

.intro {


  &__block {
    padding-top: 2em;
    padding-bottom: 1rem;

    @include breakpoint($screen $introinflection) {
      padding-top: 4em;
    }

    @include breakpoint($screen $large-minor-start) {
      padding-top: 0;
    }

    @include breakpoint($screen $xlarge-start) {
      padding-top: 1.8em;
    }
  }

  &__logo {
    max-width: $intro-logo-max-width;
    margin-bottom: 1em;
  }

  &__text {
    text-align: center;
    font-size: 1rem;

    @include breakpoint($screen $large-minor-start) {
      font-size: 1.25em;
    }

    @include breakpoint($screen $xlarge-start) {
      font-size: 1.5em;
    }
  }

  &__imagecontainer {

    margin-bottom: 2rem;

    & .icon-omed-logo-stack {
      width: 13rem;
      height: 7.75rem;
      margin: 0 auto;

      @include breakpoint($screen $introinflection) {
        width: 15.4rem;
        height: 9rem;
      }

      @include breakpoint($screen $xlarge-start) {
        width: 17.4rem;
        height: 10rem;
        margin-bottom: 2.5rem;
      }
    }

  }

  &__body {
    max-width: 16rem;
    margin: 0 auto;

    @include breakpoint($screen $medium-start) {
      max-width: 26rem;      
    }

    @include breakpoint($screen $large-minor-start) {
      max-width: 36.5rem;
    }

    &:before {
      content: "";
      position: relative;
      top: -1rem;
      width: 50%;
      display: block;
      margin: 0 auto;
      border-top: 1px solid $yellow;

      @include breakpoint($screen $medium-start) {
        width: 25%;
      }

    }
  }

}

#introOmedLogo div {
  background-image: url(../img/omed-logo-date.png);
  background-size: $intro-logo-max-width;
}
