$intro-logo-max-width: 15.375em;
$introinflection: $large-start;

.intro {


  &__block {
    max-width: 33rem;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($screen 592px) {
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint($screen $large-start) {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    @include breakpoint($screen $xlarge-start) {
      margin-top: 5rem;
      margin-bottom: 3.5rem;
    }
  }

  &__dropclothcontainer {
    min-height: 76rem;

    @include breakpoint($screen $medium-start) {
      min-height: 50rem;
    }

    @include breakpoint($screen 592px) {
      min-height: 46rem;
    }

    @include breakpoint($screen $introinflection) {
      border-top: 8px solid $yellow;
    }
  
    @include breakpoint($screen $large-minor-start) {
      min-height: 51rem;
    }
  }

  &__dropcloth {
    background: rgba($yellow, .15);
    position: absolute;
    top: 0;
    bottom: -8rem;
    left: 0;
    right: 0;
  }

  &__logo {
    max-width: $intro-logo-max-width;
    margin-bottom: 1em;
  }

  &__text {
    text-align: center;
    font-size: 1rem;

    @include breakpoint($screen $large-start) {
      font-size: 1.25em;
    }

    @include breakpoint($screen $xlarge-start) {
      font-size: 1.5em;
    }
  }

  &__imagecontainer {

    margin-bottom: 2rem;

    & .icon-omed-logo-stack {
      width: 13rem;
      height: 7.75rem;
      margin: 0 auto;

      @include breakpoint($screen $introinflection) {
        width: 15.4rem;
        height: 9rem;
      }

      @include breakpoint($screen $xlarge-start) {
        width: 17.4rem;
        height: 10rem;
        margin-bottom: 2.5rem;
      }
    }

  }

  &__body {
    max-width: 16rem;
    margin: 0 auto;

    @include breakpoint($screen $medium-start) {
      max-width: 26rem;      
    }

    @include breakpoint($screen $large-minor-start) {
      max-width: 36.5rem;
    }

    &:before {
      content: "";
      position: relative;
      top: -1rem;
      width: 50%;
      display: block;
      margin: 0 auto;
      border-top: 1px solid $yellow;
      height: 5px;
      /*background: linear-gradient(to bottom, #fcef06, #fcef06 40%, rgba(0, 176, 185, 0.31) 40%, rgba(0, 176, 185, 0.3) 60%, #fcef06 60%, #fcef06 100%)*/

      @include breakpoint($screen $medium-start) {
        width: 25%;
      }

    }
  }

}

#introOmedLogo div {
  background-image: url(../img/omed-logo-date.png);
  background-size: $intro-logo-max-width;
}
