a.menu-link {
  display: block;
  text-align: right;
  color: $white;

  &.active {
    &:after {
      content: "Close";

      @include breakpoint($screen $navflip) {
        content: none;
      }
    }
  }

  &:after {
    content: "Menu";
    text-decoration: none;

    @include breakpoint($screen $navflip) {
      content: none;
    }
  }
}

.level-1 {

  & > li > a {
    font-family: $font-medium;

    @include breakpoint($screen $navflip) {
      font-family: $font-book;
    }

  }
}

.sub-menu {
  .menu-major & a {
    opacity: .8;
    font-size: .875em;

    @include breakpoint($screen $navflip) {
      opacity: 1;
      font-size: inherit;
    }
  }

  .menu-major & li {
    border-top: 1px solid rgba(255, 255, 255, 0.17);

    @include breakpoint($screen $navflip) {
      border-top: none;
    }
  }
}

.menu {
  &, & > ul ul {
    clear: both;
    transition: all $transitionduration ease-out;
    overflow: hidden;
    max-height: 0;
    background: $teal;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbarheight;
  }

  &__nav {
    /*text-align: right;*/
    position: relative;
    z-index: 3;
    /*right: 0;*/
    /*top: 25%;*/
    width: 100%;
  }

  &__items {
    position: absolute;
    left: 0;
    right: 0;
    top: $navbarheight;
  }

  &__logo {
    /*position: absolute;*/
    /*z-index: 2;*/
  }
}


.menu, .menu > ul ul {
}

.menu.active, .menu > ul ul.active {
  max-height: 55em;
  padding-bottom: 1rem;
  z-index: 1;
}

.menu > ul {
  border-top: 1px solid #808080;
}

.menu li a {
  position: relative;
  text-transform: uppercase;
  font-size: .8125em;
  letter-spacing: 1px;
  transition-property: color, opacity;
  transition-duration: $transitionduration;
  color: #000;
  display: block;
  padding: 0.8em;
  border-bottom: 1px solid #808080;

  @include breakpoint($screen $navflip) {
    text-align: center;
  }

//  &:after {
//    @include expand-target();
//  }

  &:hover {
    text-decoration: none;
    color: $teal;
  }

  & > i {
    display: none;

    @include breakpoint($screen $navflip) {
      display: initial;
    }
  }

  .menu-major & {
    border-bottom: 1px solid $white;

    @include breakpoint($screen $navflip) {
      border-bottom: none;
    }
  }

}

.current-menu-item {
  font-family: $font-bold;
  color: $teal;
}


.menu li.menu-item-has-children > a:after {
  content: '+';
  position: absolute;
  top: 26%;
  right: 0;
  display: block;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
}

.menu li.menu-item-has-children > a.active:after {
  content: "-";
}



/************************************************/

/*                 MEDIA QUERIES                */

/************************************************/


@include breakpoint($screen $navflip) {
  .pattern {
    overflow: visible;
  }

  a.menu-link {
    display: none;
  }

  .menu, .menu > ul ul {
    max-height: none;
    overflow: visible;
    background: none;
  }

  .menu > ul ul {
    background: #808080;
    display: none;
  }

  .menu > ul li:hover > ul {
    display: block;
  }

  .menu ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }

  .menu li a {
    border: 0;
  }

  .menu li.menu-item-has-children > a {
    padding-right: 2em;
  }

  .menu li.menu-item-has-children > a:after {
    content: ">";
    font-size: 1em;
    padding: 0.8em 0.5em;
  }

  .menu .sub-menu > li.menu-item-has-children > a:after {
    content: "▼";
  }

  .menu > ul li {
    margin: 0 0.25em;
  }

  .menu > ul > li {
    display: inline-block;
    position: relative;
  }

  .menu > ul ul {
    position: absolute;
    top: 0;
    left: 12em;
    width: 12em;
  }

  .menu > ul ul li {
    position: relative;
  }

  .menu > ul ul.sub-menu {
    top: 3em;
    left: 0;
  }
}
