.menu {


  @include breakpoint($screen $navflip) {
    height: 100%;
    display: flex;    
    justify-content: space-between;
  }

  & li a {
    position: relative;
    text-transform: uppercase;
    font-size: .8125em;
    transition-property: color, opacity;
    transition-duration: $transitionduration;
    font-family: inherit;
    color: #000;
    display: block;
    padding: 1rem 0;
    color: inherit;
  
  
    @include breakpoint($screen $navflip) {
      padding: 1.5rem 0;
      /*text-align: center;*/
      font-family: $font-book;
      border: 0;
    }
  
  
    &:link {
      text-decoration: none;
    }
    &:visited {
      color: inherit;
    }
  
  
    &.active {
      color: inherit;
    }
  
  
    & > i {
      display: none;
  
      @include breakpoint($screen $navflip) {
        display: inline-block;
      }
    }
  
    .menu-major & {
      border-bottom: 1px solid $white;
  
      @include breakpoint($screen $navflip) {
        border-bottom: none;
      }
    }
  } /* End .menu li a */

  & li.menu-item-has-children > a {
    @include breakpoint($screen $navflip) {
      /*padding-right: 2em;*/
    }
  }

  &.active, & > ul ul.active {
    max-height: 55em;
    padding-bottom: 1rem;
    z-index: 1;

    @include breakpoint($screen $navflip) {
      flex-direction: column;
      padding-bottom: 0;
      background-color: lighten($teal, 5%);
      color: $white;
      border-top: 1px solid $yellow;
      /*border-left:   1px solid rgba($teal, 0.19);*/
      /*border-right:  1px solid rgba($teal, 0.19);*/
      /*border-bottom: 1px solid rgba($teal, 0.19);*/
    }
  }


//  & li.menu-item-has-children > a:after {
//    content: '+';
//    position: absolute;
//    top: 26%;
//    right: 0;
//    display: block;
//    font-size: 1.5em;
//    padding: 0.25em 0.5em;
//
//    @include breakpoint($screen $navflip) {
//      /*content: ">";*/
//      content: none;
//      font-size: 1em;
//      padding: 0.8em 0.5em;
//    }
//  }
  
//  & li.menu-item-has-children > a.active:after {
//    content: "-";
//  }


  &, & > ul ul {
    clear: both;
    transition: all $transitionduration ease-out;
    overflow: hidden;
    max-height: 0;
    background: $teal;

    @include breakpoint($screen $navflip) {
      max-height: none;
      overflow: visible;
      background: none;
    }
  }

  & > ul ul {
    @include breakpoint($screen $navflip) {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 60px;
      left: 0;
      width: 12em;
      padding-left:  .5625rem;
      padding-right: .5625rem;
      background: $white;
      transition: $transitionduration ease;
    }

    @include breakpoint($screen $large-minor-minor-start) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  & > ul ul li {
    @include breakpoint($screen $navflip) {
      position: relative;
    }
  }

  & > ul li:hover > ul {

    @include breakpoint($screen $navflip) {
      /*display: block;*/
      visibility: visible;
      opacity: 1;
     }
  }

  & > ul ul.sub-menu {
    @include breakpoint($screen $navflip) {
      top: 3em;
      left: 0;
    }
  }

  & ul {

    @include breakpoint($screen $navflip) {
      display: flex;
      /*height: 100%;*/
      /*margin: 0 0 0 -0.25em;*/
      border: 0;
    }
  }

  & > ul li {
    @include breakpoint($screen $navflip) {
      height: 100%;
      margin: 0;
    }
  }

  & > ul > li {
    @include breakpoint($screen $navflip) {
      display: inline-block;
      position: relative;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include breakpoint($screen $navflip) {
      max-width: $contentwidth;
      justify-content: flex-start;
      align-items: flex-start;
      
      .omedscrolled & {
        max-width: 100%;
        justify-content: space-between;
      }
    }
  }

  &__nav {
    @include breakpoint($screen $navflip) {
      height: 100%;
      margin-left: 2rem;
    
      .omedscrolled & {
        margin-left: initial;
      }
    }
  }

  &__items {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: $navbarheight;
    height: 100%;
    color: $white;

    @include breakpoint($screen $navflip) {
      position: static;

      .omedscrolled & {
        /*color: $font-color-lighter;*/
      }
    }
  }

  &__logo {
    /*position: absolute;*/
    /*z-index: 2;*/
    
    @include breakpoint($screen $navflip) {
      height: $navbarheight;
    }
  }

  & .level-2 > li > a {
    text-transform: initial;
    letter-spacing: .5px;
    font-family: $font-book;
    /*opacity: .8;*/
  }
} /* End .menu */

.menu-link {
  display: block;
  text-align: right;
  color: $white;

  &.active {
    &:after {
      content: "Close";

      @include breakpoint($screen $navflip) {
        content: none;
      }
    }
  }

  @include breakpoint($screen $navflip) {
    display: none;
  }

  &:after {
    content: "Menu";
    text-decoration: none;

    @include breakpoint($screen $navflip) {
      content: none;
    }
  }
}

.sub-menu {
  & > li > a {

    @include breakpoint($screen $navflip) {
      font-family: $font-book;
    }
  }

  .menu-major & a {
    opacity: .8;
    font-size: .875em;
    font-family: $font-book;

    @include breakpoint($screen $navflip) {
      opacity: 1;
      font-size: inherit;
      
    }
  }

  .menu-major & li {
    border-top: 1px solid rgba(255, 255, 255, 0.17);

    @include breakpoint($screen $navflip) {
      border-top: none;
    }
  }
}

.current-menu-item {
  color: $white;

  @include breakpoint($screen $navflip) {
    font-family: $font-bold;
    color: inherit;
    /*color: $teal;*/
  }
}

.menu-major {
  font-family: $font-bold;

  @include breakpoint($screen $navflip) {
    align-items: center;
    color: $white;
    
    .omedscrolled & {
      /*margin-right: 0.625rem;*/
      /*color: $teal;*/
    }
  }

  & > li {

//    @include breakpoint($screen $navflip) {
//      padding-left: 1rem;
//      padding-right: 1rem;
//    }

    .omedscrolled & {
      transition: background-color 0.4s ease;

      &:hover {
        background-color: lighten($teal, 5%);
        cursor: pointer;
      }
    }

    @include breakpoint($screen $large-minor-start) {
      padding-left:  .5625rem;
      padding-right: .5625rem;
    }

    @include breakpoint($screen $large-minor-minor-start) {
      padding-left:  1rem;
      padding-right: 1rem;
    }

    /*@include breakpoint($screen $xlarge-start) {*/
      /*padding-left: 1rem;*/
      /*padding-right: 1rem;*/
    /*}*/

    /*@include breakpoint($screen $xlarge-minor-start) {*/
      /*padding-left: 2rem;*/
      /*padding-right: 2rem;*/
    /*}*/
  }
  
  & li a {
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($white, .17);
  
    @include breakpoint($screen $navflip) {
      border-bottom: none;
      font-family: $font-bold;
    }
  }

}

.menu-minor {

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 22.5rem;
  height: 100%;
  margin: 0 auto;
  font-family: $font-book;
  text-align: center;

  @include breakpoint($screen $navflip) {
    /*padding-top: .5rem;*/
    align-items: flex-start;

    display: none !important;

    .omedscrolled & {
      display: flex !important;
    }
  }

  & li {
    position: relative;
    /*flex-basis: 85px;*/
    flex-basis: 33%;
    height: 100%;
    margin-top: 1rem;
    line-height: 1.4;

    @include breakpoint($screen $navflip) {
      height: initial;
      flex-basis: 85px;
      width: 85px;
    }

    &.icon-ticket {
      background-position: 20px 20px;
      background-size: 50px;
    }
  }

  & li a {
    display: block;
    
    padding-top: 2rem;
    position: relative;
    cursor: pointer;
    text-transform: none;
    color: inherit;

    @include breakpoint($screen $navflip) {
      padding-top: .4375rem;
      padding-bottom: 0;
      font-size: .6875rem;
    }

    &:link {
      /*position: relative;*/
      /*bottom: -39px;*/
      /*text-decoration: none;*/
    }
  }

  & .menu-item > div {
    /*position: absolute;*/
    position: relative;
    top: 26px;
    width: 25px;
    height: 32px;
    margin: 0 auto;
    /*height: auto;*/
    /*left: 35%;*/

    @include breakpoint($screen $navflip) {
      top: .6875rem;
    }
  }

  & .menu-item-branding {
  
    flex-basis: 80% !important;
  
    svg {
      width: 160px;

      /*@include breakpoint($screen $navflip) {*/
        /*width: 240px;*/
        /*fill: rgba($white, .8) !important;*/
      /*}*/
    }

    @include breakpoint($screen $navflip) {
      display: none;
    }
  }

  & .menu-item-branding > div {
    left: 0;
    width: 100%;
  }

  & .menu-item svg {
    fill: $white;

    .omedscrolled & {
      @include breakpoint($screen $navflip) {
        /*fill: $font-color-lighter;*/
      }
    }
  }


}

.menu-item-highlight {

  background: $yellow;  
  color: $teal;

  & a {
    font-family: $font-medium !important;
  }

  & svg {
    fill: $teal !important;
  }

}

.level-2 {

  @include breakpoint($screen $navflip) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    
  }


  & .menu-item {
    background-color: transparent;
  
    @include breakpoint($screen $navflip) {
      padding-left: 1rem;
      padding-right: 1rem;
      height: 4rem;
      transition: background-color $transitionduration ease;
    }
  
    &:hover {
       background-color: $teal;
    }
  }

}

