.nav {

  position: fixed;
  z-index: 1000;

  &__block {
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    font-size: .8125em;
    letter-spacing: 1px;
    /*opacity: .6;*/
    transition-property: color, opacity;
    transition-duration: $transitionduration;

    .menu__item--active & {
      font-family: $font-bold;
      color: $teal;
    }

    & > i {
      display: none;
    }

    .menu__list--major & {
      border-bottom: 1px solid $white;

      @include breakpoint($screen $navflip) {
        border-bottom: none;
      }
    }

    @include breakpoint($screen $navflip) {
      text-align: center;

      & > i {
        display: initial;
      }
    }

    &:after {
      @include expand-target();
    }

    &:hover {
      text-decoration: none;
      color: $teal;
      /*opacity: 1;*/
      /*font-family: $font-bold;*/
    }
  }

  &__icon {
    margin-bottom: .5rem;
    
    @include breakpoint($screen $navflip) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: .25rem;
      width: 25px;
      height: 28px;
      /*max-width: 1.5rem;*/
    }
  }

  &__label {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    text-align: center;
    font-size: .68rem;
  }

}
