.pagenav {

  @include breakpoint($screen $navflip) {

    &__items {
      font-size: .875rem;
    }

    &__item {
      position: relative;
      margin-bottom: 1.5rem;
      margin-right: 35%;
      padding-bottom: 1.5rem;
      line-height: 1.4;

      &:not(:last-child) {
        border-bottom: 1px solid $yellow;

      }

      @include breakpoint($screen $large-minor-minor-start) {
        margin-right: 31%;
      }

      @include breakpoint($screen $xlarge-start) {
        margin-right: 27%;
      }

//      &:not(:last-child):after {
//        content: "";
//        position: absolute;
//        bottom: 0;
//        left: 0;
//        width: 75%;
//        border-bottom: 1px solid $yellow;
//      }
    }
 
  }

}
