%quicklink-header-base {
  margin-bottom: .5rem;
  padding-bottom: 6px; 
  line-height: 1.4;
  font-family: $font-medium;
  border-bottom: 1px solid #fcef06;

  @include breakpoint($screen $medium-minor-start) {
    /*margin-bottom: 1rem;*/
  }
}
.quicklinks {

  &__block {

  }

  &__body {
    max-width: 26rem;
    margin: 0 auto 1rem auto;
    display: flex;
    /*height: 54%;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($screen $medium-start) {
      /*height: 70%;*/
    }

    @include breakpoint($screen $large-start) {
      /*height: 66%;*/
    }

    @include breakpoint($screen $large-minor-minor-start) {
      /*height: 58%;*/
    }
  }

  &__bodytext {

  }

  &__item {
    position: relative;
    top: -1rem;
    max-width: 33rem;
    padding: 1rem 2rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    border-top:    1px solid $yellow;
    border-left:   1px solid $yellow;
    border-right:  1px solid $yellow;
    border-bottom: 5px solid $yellow;
    background: rgba($yellow, .08);
    margin-bottom: 2rem;
    /*text-align: center;*/
    /*background-position-x: 50%;*/
    /*flex-basis: 7rem;*/

    @include breakpoint($screen $medium-start) {
      margin: 0 0 1rem;
    }

    @include breakpoint($screen 592px) {
      flex-basis: 31%;
    }

    @include breakpoint($screen $medium-minor-start) {
      /*flex-basis: 9rem;      */
    }

    @include breakpoint($screen $medium-minor-minor-start) {
      flex-basis: 11rem;      
    }

    @include breakpoint($screen $large-start) {
      flex-basis: 13rem;
    }

    @include breakpoint($screen $large-minor-minor-start) {
      flex-basis: 18rem;
    }

    & a {
      margin-top: auto;
    }


  }


  &__icon {
    width: 72px;
    height: 90px;
    margin: 0 auto;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*@include breakpoint($screen $medium-start) {*/
    @include breakpoint($screen 592px) {
      flex-direction: row;      
      justify-content: space-between;

//      &:after {
//        content: "";
//        position: absolute;
//        left: 7rem;
//        right: 7rem;
//        border-top: 3px dotted rgba($yellow, .8);
//        z-index: -1;
//        top: calc(50% - 2rem);
//      }
    }

    @include breakpoint($screen $medium-minor-minor-start) {
      justify-content: space-around;
    }
  }

  &__header {


    &--blue {
      @extend %quicklink-header-base;
      color: $blue;
    }

    &--red {
      @extend %quicklink-header-base;
      color: $red;
    }

    &--teal {
      @extend %quicklink-header-base;
      color: $teal;
    }

    &--purple {
      @extend %quicklink-header-base;
      color: $purple;
    }
  }

}
