%tile {
  max-width: 50%;
  
}

.tiles {

  &__block {

  }

  &__row {
    color: $white;
    overflow-x: hidden;
    

    &:nth-of-type(odd) {
      background-color: $primarycolor;

      @include breakpoint($screen $large-start) {
        & h5, 
        & h3,
        & ul {
          text-align: right;
        }
      }
    }

    &:nth-of-type(even) {
      background-color: lighten($primarycolor, 10%);
    }
  
    @include breakpoint($screen $large-start) {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      
      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }
    }
  }

  &__body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;

    & h5 {

      color: $white;
      font-size: 2rem;
      line-height: 1.3;
      font-family: $font-light;
    }
    
    & h3 {
      color: $white;
      opacity: .5;
      /*font-family: $font-book;*/
      font-size: 1.5rem;
      text-align: left;
      margin-bottom: 1rem;
    }

    & ul {
    }

    & li {
      /*list-style: disc;*/
      margin-bottom: 1rem;
      line-height: 1.2;
      font-size: 16px;
    }
  }

  &__tile {

    @include breakpoint($screen $large-start) {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
    }


    &--image {
    }
  }

}

